#about h3 {
    text-align: center;
    font-size: 25px;
}

.toggler {
    position: absolute;
    background-color: transparent  ;
    cursor: pointer;
    left: 0;
    font-size: medium;
    color: #fffaef;
    margin-top: 0;
}